<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="app">
    <div>
        <cpn :number1="num1" :number2="num2"></cpn>
    </div>
</div>
</body>
<template id="cpn">
    <div>
    <h1>{{number1}}</h1>
    <input type="text" v-model="number1">
    <h1>{{number2}}</h1>
    <input type="text"  v-model="number2">
    </div>
</template>
<script src="../js/vue.js"></script>
<script>

    const app = new Vue({
        el: "#app",
        data: {
            message: "你好"
            ,num1:1
            ,num2:2
        }
        ,components:{
            cpn:{
                template: '#cpn',
                props:{
                    number1:Number,
                    number2:Number,
                }
            }
            ,data(){
                return {

                }
            }
        }
    })

</script>
</html>