<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="app">
    <div v-if="books.length">
        <table>
            <thead>
            <tr>
                <td>书籍名城</td>
                <td>出版日期</td>
                <td>价格</td>
                <td>数量</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in books">
                <!--              1  可以这样遍历,但对行操作时不是很方便-->
                <!--                 <td v-for="value in item">{{value}}</td>-->
                <!--                2-->
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price|showPrice}}</td>
                <td>
                    <button @click="decrement(index)"  v-bind:disabled="item.count <= 1">-</button>
                    {{item.count}}
                    <button @click="increment(index)">+</button>
                </td>
                <td>
                    <button @click="removeBtn(index)">移除</button>
                </td>
            </tr>
            </tbody>
        </table>
        <h2>总价格:{{totalPrice()}}</h2>
    </div>
    <h2 v-else>购物车为空</h2>
</div>
</body>
<script src="../../js/vue.js"></script>
<script src="main.js"></script>
<script>


</script>
</html>